@use "variables" as *;
@use "mixins" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  background: rgba(10, 15, 45, 0.9);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 20px;
  top: 50px;
  position: relative;
  width: 90%;
  margin: 0 auto;

  .logo {
    font-family: $font-heading;
    font-size: 1.8rem;
    color: $text-light;
    letter-spacing: 2px;
  }

  nav {
    display: flex;
    gap: 2rem;

    a {
      color: rgba(255, 255, 255);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      font-family: $font-heading;
      font-size: 1.5rem;
      transition: 0.3s ease;

      &:hover {
        color: #ffcb05;
      }
    }
  }
}
