$primary-color: #1e3fff;
$secondary-color: #b0b7d1;
$background-dark: #0b1839;
$text-light: #ffffff;

// 🧱 Fonts
$font-primary: "DreamTeam", "Bebas Neue", sans-serif;
$font-heading: "DreamTeam", "Bebas Neue", sans-serif;
$font-body: "Open Sans", sans-serif;
$font-secondary: "Poppins", sans-serif;

// 🌈 Spacing scale
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

@font-face {
  font-family: "DreamTeam";
  src: url("/src/fonts/Basketball.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: mon;
  src: url(../fonts/Montserrat-Medium.ttf);
}
